@import "~bootstrap/scss/bootstrap";


.sticky-top {
  --bs-bg-opacity: 1;
  background-color: rgb(153,102,203)
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

link_class {
  display:block;
  overflow:auto;
  width:100%;
  height:100%;
}

group_right {
  margin-left: 110px;
}

.carousel-item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
 
  margin: 0 auto;
}





.btn-flat {
  color: aliceblue;
  background-color: rgb(153,102,203);
  border-color: rgb(153,102,203);
  box-shadow: none ;}

.btn-flat:active, .btn-flat:hover, .btn-flat:checked {
  background-color: rgb(153,102,203);
  border-color: rgb(153,102,203);
  box-shadow: none ;
  color: rgba(255, 255, 255, 0.445);
  }
  
.btn, .btn:focus,  .show > .btn-light.dropdown-toggle:focus, .btn-light.dropdown-toggle {
  box-shadow: none ;
   
}



.btn-long {
  color: black;
  background-color:   #fff;
  border-color:   #fff;
  box-shadow: none ;
  opacity: 0.7;
  line-height: 42px; 
  padding: 0 32px;
  min-width: 196px; 
  text-align: center;
  transition: .3s all;}

.btn-long:active, .btn-long:hover, .btn-long:checked {
  background-color:   #fff;
  border-color:   #fff;
  box-shadow: none ;
  color: black;
  opacity: 0.9;
  }

.carousel-caption{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  transform: translate(-50%, -50%);
  min-width: 100%;
 
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

    
.card {
  position: inherit;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
 
  }




.navbar-light .navbar-toggler {
color: transparent;
border-color: transparent ;
}

.navbar-toggler-icon{
  
  color: aliceblue;
  outline-color: aliceblue;



}

.center{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-title{
  text-align: center;
  margin: 0 auto 24px;
  padding: 0 16px;
}
.nav-link a{
  color: black;
  text-decoration: none;
}

.nav-link a:hover{
  color: rgb(82, 82, 82);
  text-decoration: none;
}

fileInput{
  border:none;
  padding: 10px;
  margin: 15px;
  cursor: pointer;

}

input.fileInput{
  margin: 50px;
}
.imgPreview{
  text-align: center;
 
  border: none;
  
}

  
.previewText{
  width: 100%;
  margin-top: 20px;
}

  
.submitButton{
  padding: 12px;
  margin-left: 10px;
  background: white;
  border:  none;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
}

 

.centerText{
  text-align: center;
  width: 500px;
}


.btn-search {
  color: aliceblue;
  background-color: rgb(153,102,203);
  border-color: rgb(153,102,203);
  box-shadow: none ;
  border-radius: 4px;
  padding: 15px 32px;
border:none;}

.center1{
  display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin:0;
}

